@model WorkViewModel

@{
    ViewData["Title"] = "Edit";
}

@section css{
<link rel="stylesheet" href="libs/jquery-image-input/jquery.image-input.css" />
}

<form method="post" asp-action="Edit" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="row">
        <div class="col-6">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="label-required">Başlıq: </label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" style="color: red;"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="label-required">Kateqoriya: </label>
                <select asp-for="CategoryId" class="form-control" asp-items="@ViewBag.Categories"></select>
                <span asp-validation-for="CategoryId" style="color: red;"></span>
            </div>
            <a asp-action="Index" class="btn btn-danger">Geriyə</a>
            <button class="btn btn-info" type="submit">Yenilə</button>
        </div>
        <div class="col-6">
            <div class="form-group">
                <image asp-for="file" asp-caption="Şəkil: " asp-path="/uploads/works/@Model?.ImagePath"></image>
            </div>
        </div>
    </div>
</form>

@section js{
<script src="libs/jquery-image-input/jquery.image-input.js"></script>
<script src="libs/jquery-validate/jquery.validate.min.js"></script>
<script src="libs/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

