@{
    ViewData["Title"] = "_Navbar";
}

<nav class="pcoded-navbar">
    <div class="pcoded-inner-navbar main-menu">
        <div class="pcoded-navigatio-lavel">Navigation</div>
        <ul class="pcoded-item pcoded-left-item">
            <li class="">
                <a asp-action="Index" asp-controller="Persons">
                    <span class="pcoded-micon">
                        <i class="feather icon-menu"></i>
                    </span>
                    <span class="pcoded-mtext">İnsanlar</span>
                </a>
            </li>
             <li class="">
                <a asp-action="Index" asp-controller="Skills">
                    <span class="pcoded-micon">
                        <i class="feather icon-menu"></i>
                    </span>
                    <span class="pcoded-mtext">Bacarıqlar</span>
                </a>
            </li>
            <li class="">
                <a asp-action="Index" asp-controller="Services">
                    <span class="pcoded-micon">
                        <i class="feather icon-menu"></i>
                    </span>
                    <span class="pcoded-mtext">Servislər</span>
                </a>
            </li>
            <li class="">
                <a asp-action="Index" asp-controller="FunFacts">
                    <span class="pcoded-micon">
                        <i class="feather icon-menu"></i>
                    </span>
                    <span class="pcoded-mtext">Maraqlı Faktlar</span>
                </a>
            </li>
            <li class="">
                <a asp-action="Index" asp-controller="Clients">
                    <span class="pcoded-micon">
                        <i class="feather icon-menu"></i>
                    </span>
                    <span class="pcoded-mtext">Müştərilər</span>
                </a>
            </li>
            <li class="">
                <a asp-action="Index" asp-controller="Quotes">
                    <span class="pcoded-micon">
                        <i class="feather icon-menu"></i>
                    </span>
                    <span class="pcoded-mtext">Sitatlar</span>
                </a>
            </li>
            <li class="">
                <a asp-action="Index" asp-controller="Testimonials">
                    <span class="pcoded-micon">
                        <i class="feather icon-menu"></i>
                    </span>
                    <span class="pcoded-mtext">Təqdirlər</span>
                </a>
            </li>
            <li class="">
                <a asp-action="Index" asp-controller="AppInfos">
                    <span class="pcoded-micon">
                        <i class="feather icon-menu"></i>
                    </span>
                    <span class="pcoded-mtext">Əlaqə Məlumatları</span>
                </a>
            </li>
            <li class="">
                <a asp-action="Index" asp-controller="Contacts">
                    <span class="pcoded-micon">
                        <i class="feather icon-menu"></i>
                    </span>
                    <span class="pcoded-mtext">Müraciətlər</span>
                </a>
            </li>
        </ul>
    </div>
</nav>