@model IEnumerable<Testimonial>

<div class="content testimonials">

    <!-- title -->
    <div class="title">Testimonials</div>

    <!-- content -->
    <div class="row testimonials-items">

        <!-- client item -->
        <div class="col col-d-12 col-t-12 col-m-12 border-line-v">
            <div class="revs-carousel default-revs">
                <div class="owl-carousel">
                    @foreach (var item in Model)
                    {
                        <div class="item">
                            <div class="revs-item">
                                <div class="text">
                                    @Html.Raw(item.Content)
                                </div>
                                <div class="user">
                                    <div class="img"><img src="~/uploads/testimonials/@item.ImagePath" alt="" /></div>
                                    <div class="info">
                                        <div class="name">@item.FullName</div>
                                        <div class="company">@item.Profession</div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="clear"></div>
    </div>

</div>