@model RyanUser

@{
    ViewData["Title"] = "Edit";
}

@section css{
<link rel="stylesheet" href="libs/jquery-image-input/jquery.image-input.css" />
}

<h1 class="text-center">Şəxsi Məlumatların Yenilənməsi Pəncərəsi</h1>

<hr />
<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="ImagePath" class="control-label"></label>
                    <input asp-for="ImagePath" class="form-control" />
                    <span asp-validation-for="ImagePath" class="text-danger"></span>*@
                <image asp-caption="Profile Picture" asp-for="file" asp-path="/uploads/users/@Model.ImagePath"></image>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <input asp-for="NormalizedUserName" type="hidden" class="form-control" />

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <input asp-for="NormalizedEmail" type="hidden" class="form-control" />

            <div class="form-group form-check" style="visibility: hidden; position: fixed; right: -25%;">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="EmailConfirmed" /> @Html.DisplayNameFor(model => model.EmailConfirmed)
                </label>
            </div>

            <input asp-for="PasswordHash" type="hidden" class="form-control" />
            <input asp-for="SecurityStamp" type="hidden" class="form-control" />
            <input asp-for="ConcurrencyStamp" type="hidden" class="form-control" />
            <input asp-for="PhoneNumber" type="hidden" class="form-control" />
            <input asp-for="LockoutEnd" type="hidden" class="form-control" />

            <div class="form-group form-check" style="visibility: hidden; position: fixed; right: -25%;">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="PhoneNumberConfirmed" /> @Html.DisplayNameFor(model => model.PhoneNumberConfirmed)
                </label>
            </div>
            <div class="form-group form-check" style="visibility: hidden; position: fixed; right: -25%;">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="TwoFactorEnabled" /> @Html.DisplayNameFor(model => model.TwoFactorEnabled)
                </label>
            </div>
            <div class="form-group form-check" style="visibility: hidden; position: fixed; right: -25%;">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="LockoutEnabled" /> @Html.DisplayNameFor(model => model.LockoutEnabled)
                </label>
            </div>
            <input asp-for="AccessFailedCount" type="hidden" class="form-control" />
            <div class="form-group mb-5">
                <input type="submit" value="Yadda Saxla" class="btn btn-primary" />
                <a asp-action="Index" asp-controller="PersonalSide" class="btn btn-danger">Geriyə Qayıt</a>
            </div>
        </form>
    </div>
</div>

@section js{
<script src="libs/jquery-image-input/jquery.image-input.js"></script>
}

