@model PricingsPricingDetailsViewModel

@{
    ViewData["Title"] = "Edit";
}

<form method="post" asp-action="Edit">
    <div class="form-group">
        <label asp-for="PricingId" class="label-required">Başlıq: </label>
        <select asp-for="PricingId" class="form-control" asp-items="@ViewBag.Pricings">
        </select>
        <span asp-validation-for="PricingId" style="color: red;"></span>
    </div>
    @for (int i = 0; i < Model.PricingDetails.ToArray().Length; i++)
    {
        <div class="form-group">
            <label asp-for="Items[@i].PricingDetailsId" class="label-required">Adı (Qiymətləndirmə Detalları): </label>
            <select asp-for="Items[@i].PricingDetailsId" class="form-control" asp-items="@ViewBag.PricingDetails"></select>
            <span asp-validation-for="Items[@i].PricingDetailsId" style="color: red;"></span>

            <label asp-for="Items[@i].Exists">Mövcudluq: </label>
            <input style="cursor: pointer;" asp-for="Items[@i].Exists" class="form-check-input" />

            <label asp-for="Items[@i].New">Yeni: </label>
            <input style="cursor: pointer;" asp-for="Items[@i].New" class="form-check-input" />
        </div>
    }
    <a asp-action="Index" class="btn btn-danger">Geriyə</a>
    <button class="btn btn-info" type="submit">Yenilə</button>
</form>

@section js{
<script src="libs/jquery-validate/jquery.validate.min.js"></script>
<script src="libs/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script>
    $(document).ready(function () {
        let plusBtn = $('.plus-btn');
        let counter = $(plusBtn).parent().prev('.form-elements').find('input').data('count');
        let i = counter + 1;
        $(plusBtn).on('click', function () {
            let content = `<div class="form-group form-elements d-flex align-items-center mt-2">
                                    <input name="Elements[${i}].Title" data-count="${i}" style="margin-right: 10px;" class="form-control" placeholder="Car Title: " />
                                    <input name="Elements[${i}].Description" data-count="${i}" class="form-control" placeholder="Car Description: " />
                                </div>`;
            $(this).parent().before(content);
            i++;
        });
    });
</script>
}

